<side class="sidebar">
  <div class="side-logo">
    <img src="../img/logo-96.png" alt="" class="logo-img" />
    <p>E-Learn</p>
  </div>
  <nav class="nav-items">
    <ul class="nav-list">
      <li class="nav-item">
        <box-icon class="side-icon" name="dashboard" type="solid"></box-icon>
        <a href="/instructor/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <box-icon class="side-icon" name="folder" type="light"></box-icon>
        <a href="/instructor/myCourses">courses</a>
      </li>
      <li class="nav-item">
        <box-icon class="side-icon" name="folder-plus" type="light"></box-icon>
        <a href="/instructor/addCourse">add course</a>
      </li>
    </ul>
  </nav>
</side>
