<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add course</title>
  </head>
  <body>
    <div class="form-wrapper">
      <form action="/instructor/addCourse" class="form" method="post">
        <label>name:</label>
        <input type="text" name="name" required />
        <label>description:</label>
        <input type="text" name="description" required />
        <label>classroom:</label>
        <input type="text" name="classroom" required />
        <button type="submit">add course</button>
      </form>
    </div>
  </body>
</html>
