<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- HEADER -->
      <%-include('partials/header') %>
      <!-- HEADER -->

      <!-- SIDEBAR -->
      <%-include('partials/sidebar') %>

      <!-- SIDEBAR -->

      <!-- MAIN -->
      <main class="main">
        <div class="main-content">
          <div class="info-box"></div>
          <div class="info-box"></div>
          <div class="info-box"></div>
        </div>
      </main>
      <!-- MAIN -->
    </div>
  </body>
</html>
