<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <link rel="stylesheet" href="/css/styles.css" />

    <title>my courses</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- HEADER -->
      <%-include('partials/header') %>
      <!-- HEADER -->

      <!-- SIDEBAR -->
      <%-include('partials/sidebar') %>
      <!-- SIDEBAR -->
      <div class="cards">
        <% for( let i = 0; i < det.courses.length; i++ ) { %>
          <div class="c-card">
        
              <div class="c-info">
                <p class="c-title"><%= det.courses[i]['name'] %></p>
                <a href="/instructor/details/<%= det.courses[i]['_id'] %>">details</a>
              </div>
          </div>
          
          <% } %>
        </div>
        
          
  </body>
</html>
