@mixin anchor-style {
  a:link,
  a:active,
  a:visited {
    text-decoration: none;
  }
}
//
// vars
$br-10: 10px;

//
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5rem 1fr;
  height: 100vh;

  //****** HEADER *******//
  .header {
    grid-column: 2 / 3;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .inst-box {
      display: flex;
      align-items: center;
      gap: 1rem;
      .inst-img {
        height: 2rem;
        width: 2rem;
        background-color: #0f0c29;
        border-radius: 50%;
      }
    }

    nav {
      ul {
        list-style: none;
        @include anchor-style();

        .logout-btn {
          background-color: #d72929;
          padding: 1rem 1.8rem;
          border-radius: $br-10;
          a {
            color: #fff;
            font-size: 1.1rem;
            font-weight: 600;
          }
          .icon {
            color: #fff;
          }
        }
      }
    }
  }

  //****** SIDEBAR *******//

  .sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    border-right: 1px solid #ddd;
  }

  //****** MAIN *******//

  .main {
    .main-content {
      background-color: #fff;
      height: 10rem;
      width: 15rem;
      border-radius: $br-10;
      box-shadow: 0px 0px 50px -14px rgba(0, 0, 0, 0.2);
    }

    .details-text {
      border: 1px solid #0f0c29;
    }
  }
}

.cards {
  display: flex;
  .c-card {
    height: fit-content;
    padding: 2rem;
  }
}

//
.section {
  height: 100vh;
  padding: 1rem 2rem;
}
.hero-section {
  .hero-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;

      .title {
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
    .middle-nav {
      @include anchor-style();
      a {
        color: #333;
        margin: 0 1rem;
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
    .hero-nav {
      display: flex;
      align-items: center;
      gap: 1rem;
      @include anchor-style();
      a {
        padding: 1rem;
      }
      a:nth-child(1) {
        border: 2px solid #2d7cc1;

        background-color: #2d7cc1;
        color: #fff;
        border-radius: $br-10;
        letter-spacing: 1.2px;
      }
      a:nth-child(2) {
        border: 2px solid #2d7cc1;
        border-radius: $br-10;
        color: #2d7cc1;
      }
    }
  }

  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    .hero-img-box {
      height: 50%;
      img {
        height: 50%;
      }
    }
    .hero-paragraph {
      @include anchor-style();

      color: #222;
      p {
        font-size: 2.3rem;
        font-weight: bold;
        padding-bottom: 1rem;
        text-align: left;
      }
      h3 {
        margin-bottom: 3rem;
      }
      .start-btn {
        padding: 1rem;
        background-color: #0f0c29;
        border-radius: $br-10;
        color: #fff;
      }
    }
  }
}
//

.features-section {
  background-color: #dddada;
  .feature-wrapper {
    max-width: 1200px;
    margin: 0 auto;

    h3 {
      color: #d72929;
      font-size: 3rem;
      letter-spacing: 1.4px;
      text-align: center;
      margin: 1rem 0 6rem 0;
    }
    .feature-card-box {
      display: flex;
      align-items: center;
      gap: 1rem;
      .feature-card {
        height: 23rem;
        width: 23rem;
        padding: 1rem 2rem 3rem 2rem;
        background-color: #fff;
        border-radius: $br-10;
        transition: all 0.2s ease-in;
        .icon-box {
          height: 4rem;
          width: 4rem;
          background-color: #dddada;
          border-radius: 50%;
          margin-bottom: 4rem;
          .b-icon {
            transform: translate(50%, 50%);
            height: 2rem;
            width: 2rem;
          }
        }
        h2 {
          color: #333;
          margin-bottom: 1rem;
        }
        p {
          color: #333;
          margin-bottom: 1rem;
          font-size: 1.2rem;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
          transform: translateY(-6px);
        }
      }
    }
  }
}

.contact-section {
  background-color: #dddada;
}

//
.logo-header {
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    .title {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
  .header-nav {
    @include anchor-style();
    a {
      padding: 1rem;
    }
    a:nth-child(1) {
      background-color: #2d7cc1;
      border: 2px solid #2d7cc1;
      color: #fff;
      border-radius: $br-10;
      letter-spacing: 1.2px;
    }
    a:nth-child(2) {
      border: 2px solid #2d7cc1;
      border-radius: $br-10;
      color: #2d7cc1;
    }
  }
}
.form-wrapper {
  padding-top: 2rem;
  .form-container {
    background-color: #dddada;
    max-width: 32rem;
    margin: 0 auto;
    // height: 25rem;
    padding: 2.5rem 1.3rem;
    border-radius: $br-10;
    h2 {
      text-align: center;
      padding-bottom: 2rem;
      font-size: 2rem;
    }
    .form {
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
      }
      .phone-from-group {
        display: flex;
        border-radius: $br-10;
        align-items: center;
        background-color: #fff;
        height: 4rem;
        .flag {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 0 0 0.4rem;
          .vl {
            border-left: 1px solid #ddd;
            height: 50px;
            margin: 0 0.3rem;
          }
        }
        input {
          align-self: center;
          margin: 1rem 0;
          outline: none;
        }
      }
      input {
        padding: 1.3rem 1rem;
        border-radius: $br-10;
        border: none;
        margin-bottom: 1rem;
      }
      button {
        margin-top: 2rem;
        padding: 0.8rem;
        border-radius: $br-10;
        border: none;
        background-color: #2d7cc1;
        color: #fff;
        font-size: 1.2rem;
        width: 50%;
        align-self: center;
      }
    }
  }
}

// webkit
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
