* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5rem 1fr;
  height: 100vh;
}
.wrapper .header {
  grid-column: 2/3;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .header .inst-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wrapper .header .inst-box .inst-img {
  height: 2rem;
  width: 2rem;
  background-color: #0f0c29;
  border-radius: 50%;
}
.wrapper .header nav ul {
  list-style: none;
}
.wrapper .header nav ul a:link,
.wrapper .header nav ul a:active,
.wrapper .header nav ul a:visited {
  text-decoration: none;
}
.wrapper .header nav ul .logout-btn {
  background-color: #d72929;
  padding: 1rem 1.8rem;
  border-radius: 10px;
}
.wrapper .header nav ul .logout-btn a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}
.wrapper .header nav ul .logout-btn .icon {
  color: #fff;
}
.wrapper .sidebar {
  grid-column: 1;
  grid-row: 1/3;
  border-right: 1px solid #ddd;
}
.wrapper .main .main-content {
  background-color: #fff;
  height: 10rem;
  width: 15rem;
  border-radius: 10px;
  box-shadow: 0px 0px 50px -14px rgba(0, 0, 0, 0.2);
}
.wrapper .main .details-text {
  border: 1px solid #0f0c29;
}

.cards {
  display: flex;
}
.cards .c-card {
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
}

.section {
  height: 100vh;
  padding: 1rem 2rem;
}

.hero-section .hero-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-section .hero-header .logo {
  display: flex;
  align-items: center;
}
.hero-section .hero-header .logo .title {
  font-size: 1.3rem;
  font-weight: 700;
}
.hero-section .hero-header .middle-nav a:link,
.hero-section .hero-header .middle-nav a:active,
.hero-section .hero-header .middle-nav a:visited {
  text-decoration: none;
}
.hero-section .hero-header .middle-nav a {
  color: #333;
  margin: 0 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.hero-section .hero-header .hero-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-header .hero-nav a:link,
.hero-section .hero-header .hero-nav a:active,
.hero-section .hero-header .hero-nav a:visited {
  text-decoration: none;
}
.hero-section .hero-header .hero-nav a {
  padding: 1rem;
}
.hero-section .hero-header .hero-nav a:nth-child(1) {
  border: 2px solid #2d7cc1;
  background-color: #2d7cc1;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 1.2px;
}
.hero-section .hero-header .hero-nav a:nth-child(2) {
  border: 2px solid #2d7cc1;
  border-radius: 10px;
  color: #2d7cc1;
}
.hero-section .hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.hero-section .hero-wrapper .hero-img-box {
  height: 50%;
}
.hero-section .hero-wrapper .hero-img-box img {
  height: 50%;
}
.hero-section .hero-wrapper .hero-paragraph {
  color: #222;
}
.hero-section .hero-wrapper .hero-paragraph a:link,
.hero-section .hero-wrapper .hero-paragraph a:active,
.hero-section .hero-wrapper .hero-paragraph a:visited {
  text-decoration: none;
}
.hero-section .hero-wrapper .hero-paragraph p {
  font-size: 2.3rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: left;
}
.hero-section .hero-wrapper .hero-paragraph h3 {
  margin-bottom: 3rem;
}
.hero-section .hero-wrapper .hero-paragraph .start-btn {
  padding: 1rem;
  background-color: #0f0c29;
  border-radius: 10px;
  color: #fff;
}

.features-section {
  background-color: #dddada;
}
.features-section .feature-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.features-section .feature-wrapper h3 {
  color: #d72929;
  font-size: 3rem;
  letter-spacing: 1.4px;
  text-align: center;
  margin: 1rem 0 6rem 0;
}
.features-section .feature-wrapper .feature-card-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.features-section .feature-wrapper .feature-card-box .feature-card {
  height: 23rem;
  width: 23rem;
  padding: 1rem 2rem 3rem 2rem;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.2s ease-in;
}
.features-section .feature-wrapper .feature-card-box .feature-card .icon-box {
  height: 4rem;
  width: 4rem;
  background-color: #dddada;
  border-radius: 50%;
  margin-bottom: 4rem;
}
.features-section .feature-wrapper .feature-card-box .feature-card .icon-box .b-icon {
  transform: translate(50%, 50%);
  height: 2rem;
  width: 2rem;
}
.features-section .feature-wrapper .feature-card-box .feature-card h2 {
  color: #333;
  margin-bottom: 1rem;
}
.features-section .feature-wrapper .feature-card-box .feature-card p {
  color: #333;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.features-section .feature-wrapper .feature-card-box .feature-card:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-6px);
}

.contact-section {
  background-color: #dddada;
}

.logo-header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-header .logo .title {
  font-size: 1.3rem;
  font-weight: 700;
}
.logo-header .header-nav a:link,
.logo-header .header-nav a:active,
.logo-header .header-nav a:visited {
  text-decoration: none;
}
.logo-header .header-nav a {
  padding: 1rem;
}
.logo-header .header-nav a:nth-child(1) {
  background-color: #2d7cc1;
  border: 2px solid #2d7cc1;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 1.2px;
}
.logo-header .header-nav a:nth-child(2) {
  border: 2px solid #2d7cc1;
  border-radius: 10px;
  color: #2d7cc1;
}

.form-wrapper {
  padding-top: 2rem;
}
.form-wrapper .form-container {
  background-color: #dddada;
  max-width: 32rem;
  margin: 0 auto;
  padding: 2.5rem 1.3rem;
  border-radius: 10px;
}
.form-wrapper .form-container h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
}
.form-wrapper .form-container .form {
  display: flex;
  flex-direction: column;
}
.form-wrapper .form-container .form label {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
.form-wrapper .form-container .form .phone-from-group {
  display: flex;
  border-radius: 10px;
  align-items: center;
  background-color: #fff;
  height: 4rem;
}
.form-wrapper .form-container .form .phone-from-group .flag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 0.4rem;
}
.form-wrapper .form-container .form .phone-from-group .flag .vl {
  border-left: 1px solid #ddd;
  height: 50px;
  margin: 0 0.3rem;
}
.form-wrapper .form-container .form .phone-from-group input {
  align-self: center;
  margin: 1rem 0;
  outline: none;
}
.form-wrapper .form-container .form input {
  padding: 1.3rem 1rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
}
.form-wrapper .form-container .form button {
  margin-top: 2rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  background-color: #2d7cc1;
  color: #fff;
  font-size: 1.2rem;
  width: 50%;
  align-self: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}/*# sourceMappingURL=styles.css.map */